<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css">
</head>
<body style="background-color: rgb(110, 205, 239);">
    <header>
        <h3>Welcome to E-commerce Website</h3>
    </header>

    <ngb-carousel >
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="images"/>
        </div>
        <div class="carousel-caption" style="color: black;">
          <h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">Nike</h3>
          <h4>RS 1200</h4>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="https://images.unsplash.com/photo-1549298916-b41d501d3772?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2012&q=80" alt="Random second slide" class="images"/>
        </div>
        <div class="carousel-caption" style="color: black;">
          <h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">ADIDAS</h3>
          
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="https://images.unsplash.com/photo-1600185365483-26d7a4cc7519?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1025&q=80" alt="Random third slide" class="images" />
        </div>
        <div class="carousel-caption" >
          <h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">PUMA</h3>
          <p style="color: black;"></p>
        </div>
      </ng-template>
        <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="https://images.unsplash.com/photo-1575537302964-96cd47c06b1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="images"/>
        </div>
        <div class="carousel-caption" style="color: black;">
          <h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">CAMPUS</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="https://images.unsplash.com/photo-1595341888016-a392ef81b7de?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1179&q=80" class="images"/>
        </div>
        <div class="carousel-caption" style="color: black;">
          <h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">CAMPUS</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="https://images.unsplash.com/photo-1600185365926-3a2ce3cdb9eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1025&q=80" class="images"/>
        </div>
        <div class="carousel-caption" style="color: black;">
          <h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">CAMPUS</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="https://images.unsplash.com/photo-1600185365926-3a2ce3cdb9eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1025&q=80" class="images"/>
        </div>
        <div class="carousel-caption" style="color: black;">
          <h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">CAMPUS</h3>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1131&q=80" class="images"/>
        </div>
        <div class="carousel-caption" style="color: black;">
          <h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">CAMPUS</h3>
        </div>
      </ng-template>
    </ngb-carousel>

    
    
    <footer style="background-color: black; color:white; text-align: center;position:relative;">
        <p>&copy; 2023 My Store. All rights reserved.</p>
    </footer>
</body>
</html>
