<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title> Customer Contact Form </title>
    <link rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title"> Customer Contact Form</div>
    <div class="content">
      <form (ngSubmit)="onSubmit()" >
        <div class="user-details">
          

          <div class="input-box">
            <span class="details">Name</span>
            <input type="text" placeholder="Enter your username" required name="name"
            [(ngModel)]="user.name">
          </div>

          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Enter your email" required name="email"
            [(ngModel)]="user.email">
          </div>

          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="number" placeholder="Enter your number" required name="phNo"
            [(ngModel)]="user.phNo">
          </div>

          <div class="input-box">
            <span class="details">Product Name</span>
            <input type="text" placeholder="Enter Product Name" required name="productname"
             [(ngModel)]="user.productname">
          </div>

          <div class="input-box">
            <span class="details">Message</span>
            <textarea type="text" placeholder="Enter Message" required rows="8" cols="50" name="message"
             [(ngModel)]="user.message"></textarea>
          </div>
          
        </div>
        <div class="button">
          <input type="submit" value="Send Message">
        </div>
      </form>
    </div>
  </div>

</body>
</html>