
<section class="cart_section">
    <div class="container">
       <h3>CART</h3>
       <table  style="border: 1px solid black;">
           <tr>
             <th>Product name</th>
             <th>Image</th>
             <th>Price</th>
             <th>Quantity</th>
             <th>SubTotal</th>
             <th>remove items</th>
           </tr>
           <tr *ngFor="let carts of getCartDetails">
             <td style="font-weight: bolder;">{{carts.productname}}</td>
             <td><img src="{{carts.img}}" alt="P1"/></td>
             <td>₹{{carts.amt}}</td>
             <td>
               <div class="content">
                   <button type="button" class="btn" (click)="increaseQuantity(carts.productId,carts.qnt)"><i class="fa fa-plus"></i></button>
                   <span>{{carts.qnt}}</span>
                   <button type="button" class="btn" (click)="decreaseQuantity(carts.productId,carts.qnt)"><i class="fa fa-minus"></i></button>
               </div>
             </td>
             <td>₹{{carts.qnt*carts.amt}}</td>
             <td><h2 type="button"  class="text-center" (click)="rowdelete(carts.productId)"><i class="fa fa-trash-o"></i></h2></td>
           </tr>
         </table>
         <h3 class="text-left">Total:₹{{Total}}</h3>
         <button type="button" style="margin-left:1200px;" (click)="RemoveAll()">RemoveAll</button>
         <h3 class="text-center"><button type="button" class="btn btn-info " (click)="finalbooking()" >Order Now</button></h3>

    </div>

    </section>