<app-admindashboardheader></app-admindashboardheader>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <h5><a class="nav-link" routerLink="/adminhomepage">Home </a></h5>
            </li>

            <li class="nav-item active">
                <h5><a class="nav-link" routerLink="/adminaddproduct" >Add Products</a></h5>
            </li>

            <li class="nav-item active">
                <h5><a class="nav-link" routerLink="/adminregview">Registered Customers </a></h5>
            </li>

            <li class="nav-item active">
                <h5><a class="nav-link" routerLink="/customerMesgView">Customer Query </a></h5>
            </li>
            </ul>
        </div>
      </nav>
</header>
<body>
    
    
</body>
