<app-headerbeforelog></app-headerbeforelog>
<body style="background-color: rgb(255, 255, 255);">
	<b><marquee class="text-danger" width="100%" direction="right" behavior="alternate" >Sale is Live 24/7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        75% flat-off
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NEW Brands
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JOCKEY
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TITAN
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FASTRACK
	</marquee></b>
<ngb-carousel >
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1604242692760-2f7b0c26856d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80" alt="Random first slide" class="images"/>
		</div>
		<div class="carousel-caption" style="color: black;">
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">Welcome to Users Home Page</h3>
			<h4>Experience 5+</h4>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1523170335258-f5ed11844a49?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1180&q=80" alt="Random second slide" class="images"/>
		</div>
		<div class="carousel-caption" style="color: black;">
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;"></h3>
			
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1508057198894-247b23fe5ade?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>
    <ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1609587312208-cea54be969e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Random second slide" class="images"/>
		</div>
		<div class="carousel-caption" style="color: black;">
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">Sprint1_Project</h3>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1554151447-b9d2197448f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1612817159949-195b6eb9e31a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1626497764746-6dc36546b388?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1026&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1479064555552-3ef4979f8908?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://plus.unsplash.com/premium_photo-1672883552126-a3f99dab08e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1561053720-76cd73ff22c3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1620799139834-6b8f844fbe61?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1072&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1594750863984-8be99377ce41?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1620799139652-715e4d5b232d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1072&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1539185441755-769473a23570?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1580828343064-fde4fc206bc6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1546502208-81d149d52bd7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1173&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://images.unsplash.com/photo-1526178613552-2b45c6c302f0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Random third slide" class="images" />
		</div>
		<div class="carousel-caption" >
			<h3 style="text-shadow: 4px 5px 3px  #ff0000;color: black;">©-2023-Pradeep™</h3>
			<p style="color: black;">500+ Customers</p>
		</div>
	</ng-template>
</ngb-carousel>
<div class="text-center">
	<!-- <h3>SUBSCRIBE NOW !!!!!!</h3> -->
	<h3>
		<span class="text-danger text-left" style="font-size: medium; margin-left: 0px;">SUBSCRIBE NOW!!!!</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span style="font-size: large;">Facebook:</span><a class="socialmedia_fb" href="https://www.facebook.com/pradeep1992001?mibextid=ZbWKwL"><i class="fa fa-facebook-official"></i></a>&nbsp;&nbsp;&nbsp;
		<span style="font-size: large;">Instagram:</span><a class="socialmedia_insta" href="https://instagram.com/_pradeep_a_?igshid=NTc4MTIwNjQ2YQ=="><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;
		<span style="font-size: large;">Youtube:</span><a class="socialmedia_youtube" href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a>&nbsp;&nbsp;&nbsp;
	    <span style="font-size: large;">Linkedin:</span><a class="socialmedia_linkedin" href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="text-danger text-left" style="font-size: medium; margin-left: 0px;">FOLLOW NOW!!!!</span>
	</h3>
</div>
</body>
